@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="bg-secondary bg-opacity-10 py-2 mb-3">
    <div class="container">
        <h3>Wypełnij pola i naciśnij przycisk "Zatwierdź" aby sprawdzić czy podany rok jest przestępny :)</h3>
    </div>
</div>

<div class="container">
    <form method="post">
        <div class="form-group" mb-2>
            <label for="Name">Imię</label>
            <input type="text" class="form-control" id="name" aria-describedby="NameHelp" placeholder="Wprowadź imię." asp-for="AddYearNameFormRequest.Name">
            <small id="NameHelp" class="form-text text-muted">
                Imię nie jest obowiązkowe ;)
            </small>
            <span asp-validation-for="AddYearNameFormRequest.Name" class="text-danger"></span>
        </div>

        <div class="form-group" mb-4>
            <label for="Year">Rok</label>
            <input type="number" class="form-control" id="year" aria-describedby="YearHelp" placeholder="Wprowadź rok." asp-for="AddYearNameFormRequest.Year">
            <small id="YearHelp" class="form-text text-muted">Zakres: 1899-2022.</small>
            <span asp-validation-for="AddYearNameFormRequest.Year" class="text-danger"></span>
        </div>

        <div class="d-grid gap-2" mb-5>
            <button class="btn btn-primary" type="submit">Zatwierdź</button>
        </div>
    </form>
</div>

@{
    var messageDescription = (string)ViewData["MessageDescription"];
}

@if (!string.IsNullOrWhiteSpace(messageDescription))
{
    <div class="container">
        <div class="alert alert-success alert-dismissible" mb-5 role="alert">
            @Html.Raw(messageDescription)
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}
